
DATABASE_URL="postgres://tanstack:tanstack@db:5432/tanstack"
SESSION_PASSWORD="pw"

POSTGRES_USER="tanstack"
POSTGRES_PASSWORD="tanstack"
POSTGRES_DB="tanstack"

OPENAI_BASE_URL="https://openrouter.ai/api/v"
OPENAI_API_KEY="sk-or-v1"